<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LandMines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LandMines.Properties.Settings>
            <setting name="GameBoardXAxisLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GameBoardYAxisLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PercentageOfSquaresToTurnInotMines" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PlayerLives" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PlayerXAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerYAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerMovesUpInput" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="PlayerMovesDownInput" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="PlayerMovesRightInput" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="PlayerMovesLeftInput" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="InvalidMoveText" serializeAs="String">
                <value>Please enter a valid move (U up, D down, L Left, R Right) - The move you just made was outside the board boundaries)</value>
            </setting>
            <setting name="StartupText" serializeAs="String">
                <value>Welcome to Landmines! The aim of the game is to get from the bottom left hand corner of the game (board Y axis position 0 , X axis position 0) without hitting more than 2 Mines. Each time you hit a mine you will loose a life (you start with 2). Use the U,D,L,R keys to move up, down, left or right respectively. When your Y axis position reaches 7 and you still have remaining lives  you will have won the game...  Hint: Move Up or Right for your starting move to stay within the boundaries of the board. GOOD LUCK! </value>
            </setting>
            <setting name="MineHitText" serializeAs="String">
                <value>  Boomb! you hit a mine!</value>
            </setting>
            <setting name="VictoriousText" serializeAs="String">
                <value> Congratulations you are VICTORIOUS!</value>
            </setting>
            <setting name="FailureText" serializeAs="String">
                <value>You lost too many lives GAME OVER!</value>
            </setting>
        </LandMines.Properties.Settings>
    </applicationSettings>
</configuration>